
#BioModule biolockj.module.diy.ForEachFile AS ListFiles
#BioModule biolockj.module.diy.ForEachFile AS FastQC
#BioModule biolockj.module.diy.GenMod AS MatchPairs
#BioModule biolockj.module.diy.ForEachLoop AS Merge
#BioModule biolockj.module.diy.ForEachFile AS FastQC_postMerge
#BioModule biolockj.module.diy.ForEachLoop AS RDP
##BioModule biolockj.module.diy.ForEachLoop AS RDP_Parser
##BioModule biolockj.module.diy.ForEachFile AS Normalize
##BioModule biolockj.module.diy.ForEachLoop AS MDS

input.dirPaths=./BaseSpace

SAMPLES=control, sample1, sample2, sample3, sample4, sample5, sample6, sample7, sample8, sample9, sample10, sample11, sample12, sample13, sample14
genMod.loopBy=${SAMPLES}

ListFiles.scriptPath=./scripts/listFiles.sh
FastQC.scriptPath=./scripts/runFastQC.sh
MatchPairs.scriptPath=./scripts/matchPairs.sh
Merge.scriptPath=./scripts/runBbmerge.sh
Merge.loopBy=${SAMPLES}
FastQC_postMerge.scriptPath=./scripts/runFastQC.sh
RDP.scriptPath=./scripts/runRdp.sh


# the following properties disable some of BioLockJ automatic features
pipeline.inputTypes="miseq"
pipeline.disableAddImplicitModules=Y


##### local

# Path to fastqc ---if it is not on the PATH
#fastqc.exe=fastqc
#FastQC.param=${fastqc.exe}
#FastQC_postMerge.param=${fastqc.exe}

# Path to bbmerge.sh ---if it is not on the PATH
#Merge.param=bbmerge.sh



##### mamba

FastQC.modules=fastqc
# This adds "module load fastqc" in the worker script which 
# makes it available for the GenMode script.

# RDP
# RDP.param=/projects/class/binf6350_001/rdp_classifier_2.12/dist/classifier.jar
RDP.param=/Users/ieclabau/Iinstalled/rdp_classifier_2.12/dist/classifier.jar


#### docker

# default for any not specified
genMod.imageName=blj_basic

FastQC.imageOwner=biocontainers
FastQC.imageName=fastqc
FastQC.imageTag=v0.11.9_cv7

FastQC_postMerge.imageOwner=biocontainers
FastQC_postMerge.imageName=fastqc
FastQC_postMerge.imageTag=v0.11.9_cv7

Merge.imageOwner=bryce911
Merge.imageName=bbtools
Merge.imageTag=38.87

RDP.imageName=rdp_classifier

